* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.title1 {
  margin: 30px;
  padding-bottom: 50px;
}
.card-title {
  margin-bottom: 15px;
  font-weight: 300;
}
.Link {
  color: black;
  font-size: 20px;
  background-color: rgb(205, 226, 219);
  padding: 20px 3rem;
}

.active {
  background-color: bisque;
  padding: 20px 3rem;
}
.linkButton {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}
.b1b2-Container {
  display: flex;
  justify-content: center;
}

.audioCard {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 20px;
}
